<% obj.each do |recipe| %>
     <div class="row">
       <div class="col-md-2">
           <section class="chef_info center">
               <%= gravatar_for(recipe.chef, size: 108) %>
           </section>
       </div>
       <div class="well col-md-8">
           <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
           <p><%= truncate(recipe.description, length: 150) %></p>
           <p>
               <span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
           </p>
           <% if logged_in? && (current_chef === recipe.chef || current_chef.admin?) %>
                <%= link_to "Edit this Recipe", edit_recipe_path(recipe), class: "btn btn-s btn-warning" %>
                <%= link_to "Delete this Recipe", recipe_path(recipe), method: :delete,
                                        data: {confirm: "Are you sure you want to Delete this Recipe?" },
                                        class: "btn btn-s btn-danger" %>
           <% end %>
       </div>
   </div>
<% end %>